<div class="fixed-bottom" style="background-color: #c12c2c;">
    <span style="margin-left: 10px;color: white;">
        Copyright &copy; {{ test | date: "yyyy" }} <a href="http://localhost:4200/home" class="font-weight-bold ml-1"
            style="color: white;" target="_blank">Vortx</a>
    </span>
    <span style="float: right;margin-right: 10px;">
        <a href="https://www.linkedin.com/in/jeferson-moraes-b1391682/" target="_blank">
            <img src="./../../../assets/img/linkedin.svg">
        </a>
    </span>
</div>